venv/
__pycache__/
*.pyc

.git/
.gitignore

.env

uploads/
cache/
mmflood/

.idea/
.vscode/

node_modules/

dist/
build/

*.tif
*.tiff
*.png
*.jpg
*.jpeg
*.gif

dem_*.tiff
hydro_*.tiff
vv_vh_*.tif
flood_mask_*.png

*.pth
*.pt

!best_model.pth
!flood_model.pth
!yolov8n.pt

*.log

next_disaster.ipynb
raw_prediction.png

missions.json
district_cache.json